In [4]:
# Import Dependencies
import pandas as pd
from pathlib import Path

In [5]:
# Store filepaths into variable
state_avg_df = Path('Resources/state_avg.csv')
state_totals_df = Path('Resources/state_totals.csv')

In [7]:
# Read in files.
state_avg_df = pd.read_csv (state_avg_df)
state_totals_df = pd.read_csv(state_totals_df)

In [8]:
# Display the state averages.
state_avg_df

,Year,State,Average Median Age by County,Average Household Income by County,Average Per Capita Income by County
0,2016,Alabama,40.250746,38834.925373,21232.746269
1,2016,Alaska,36.624138,64801.655172,31052.103448
2,2016,Arizona,39.613333,44166.533333,21786.333333
3,2016,Arkansas,41.140000,37503.720000,20591.666667
4,2016,California,39.281034,58091.241379,29025.793103
...,...,...,...,...,...
203,2019,Virginia,42.136090,60756.736842,31250.180451
204,2019,Washington,42.146154,59393.461538,30986.256410
205,2019,West Virginia,44.365455,44892.236364,24691.836364
206,2019,Wisconsin,43.656944,58305.861111,31034.361111
207,2019,Wyoming,40.443478,61828.652174,32161.782609

In [9]:
# Display the state totals
state_totals_df

,Year,State,Total Population,Total Employed Civilians,Total Unemployed Civilians,Total People in the Military,Total Population in Poverty
0,2016,Alabama,4841164,2042025.0,184479.0,12150.0,868666.0
1,2016,Alaska,736855,353954.0,30139.0,16382.0,72826.0
2,2016,Arizona,6728577,2879372.0,249972.0,17373.0,1165636.0
3,2016,Arkansas,2968472,1266552.0,93190.0,4445.0,542431.0
4,2016,California,38654206,17577142.0,1683726.0,130452.0,6004257.0
...,...,...,...,...,...,...,...
203,2019,Virginia,8454463,4156018.0,200850.0,120385.0,865691.0
204,2019,Washington,7404107,3594279.0,187330.0,52871.0,785244.0
205,2019,West Virginia,1817305,740910.0,51910.0,1306.0,310044.0
206,2019,Wisconsin,5790716,2982359.0,111564.0,3190.0,639160.0
207,2019,Wyoming,581024,288503.0,13544.0,2957.0,62257.0

In [14]:
# Merge the two DataFrames together based on the Year and State they share
merge_df= pd.merge(state_totals_df, state_avg_df, on=["Year", "State"])
merge_df.head()

,Year,State,Total Population,Total Employed Civilians,Total Unemployed Civilians,Total People in the Military,Total Population in Poverty,Average Median Age by County,Average Household Income by County,Average Per Capita Income by County
0,2016,Alabama,4841164,2042025.0,184479.0,12150.0,868666.0,40.250746,38834.925373,21232.746269
1,2016,Alaska,736855,353954.0,30139.0,16382.0,72826.0,36.624138,64801.655172,31052.103448
2,2016,Arizona,6728577,2879372.0,249972.0,17373.0,1165636.0,39.613333,44166.533333,21786.333333
3,2016,Arkansas,2968472,1266552.0,93190.0,4445.0,542431.0,41.140000,37503.720000,20591.666667
4,2016,California,38654206,17577142.0,1683726.0,130452.0,6004257.0,39.281034,58091.241379,29025.793103

In [19]:
# Create a DataFrame that filters the data on only 2019
slice_filtered_df = merge_df[merge_df["Year"] == 2019]
slice_filtered_df.head()
slice_filtered_df.copy()

,Year,State,Total Population,Total Employed Civilians,Total Unemployed Civilians,Total People in the Military,Total Population in Poverty,Average Median Age by County,Average Household Income by County,Average Per Capita Income by County
156,2019,Alabama,4876250,2097384.0,132095.0,13306.0,795989.0,40.801493,43574.850746,24049.149254
157,2019,Alaska,737068,347774.0,26808.0,17756.0,76933.0,37.279310,67789.344828,33072.896552
158,2019,Arizona,7050299,3130658.0,195905.0,19592.0,1043764.0,40.626667,48989.933333,24500.266667
159,2019,Arkansas,2999370,1303490.0,70481.0,4751.0,496260.0,41.610667,42236.706667,23285.040000
160,2019,California,39283497,18591241.0,1199233.0,131073.0,5149742.0,39.889655,67713.603448,33798.620690
161,2019,Colorado,5610349,2904589.0,131371.0,33671.0,565873.0,42.471875,58794.796875,31972.546875
162,2019,Connecticut,3575074,1815636.0,116456.0,8733.0,344146.0,41.825000,79201.375000,42480.500000
163,2019,Delaware,957248,455620.0,26481.0,3432.0,109400.0,41.900000,65988.000000,33956.000000
164,2019,District of Columbia,692683,376871.0,27967.0,3066.0,107140.0,34.000000,86420.000000,56147.000000
165,2019,Florida,20901636,9495353.0,561448.0,59225.0,2870487.0,43.761194,51290.223881,27563.283582
166,2019,Georgia,10403847,4834622.0,290560.0,49356.0,1528558.0,39.922013,47229.685535,24484.433962
167,2019,Hawaii,1422094,680258.0,30269.0,41537.0,130649.0,44.360000,76428.600000,36972.000000
168,2019,Idaho,1717750,792237.0,35879.0,4170.0,221256.0,40.286364,50921.704545,25463.477273
169,2019,Illinois,12770631,6250862.0,394981.0,17674.0,1557873.0,41.900000,56656.294118,29364.098039
170,2019,Indiana,6665703,3202509.0,161351.0,3661.0,867996.0,40.346739,55866.597826,28021.250000
171,2019,Iowa,3139508,1613902.0,62573.0,1666.0,348122.0,41.900000,57259.606061,30429.030303
172,2019,Kansas,2910652,1440453.0,61002.0,18335.0,337739.0,41.390476,52864.685714,27615.295238
173,2019,Kentucky,4449052,1978477.0,116945.0,13747.0,747010.0,40.973333,44882.216667,24117.466667
174,2019,Louisiana,4664362,2033758.0,141020.0,17212.0,871467.0,38.053125,44874.015625,24386.296875
175,2019,Maine,1335492,670417.0,28922.0,1931.0,153131.0,46.462500,53568.750000,30126.562500
176,2019,Maryland,6018848,3073886.0,164396.0,30952.0,539991.0,41.066667,77541.625000,38085.416667
177,2019,Massachusetts,6850553,3612375.0,183355.0,5201.0,680962.0,41.928571,77745.571429,42183.071429
178,2019,Michigan,9965265,4654930.0,293894.0,4179.0,1398527.0,44.780723,51808.349398,28080.843373
179,2019,Minnesota,5563378,2958615.0,111115.0,2514.0,526065.0,41.880460,61656.482759,31850.701149
180,2019,Mississippi,2984418,1235224.0,99733.0,11721.0,585786.0,38.748780,39613.073171,21758.451220
181,2019,Missouri,6104910,2916000.0,139789.0,18850.0,810045.0,41.502609,48096.113043,24973.565217
182,2019,Montana,1050649,512329.0,21513.0,3030.0,134605.0,44.783929,50983.946429,28931.928571
183,2019,Nebraska,1914571,999212.0,34535.0,5751.0,206579.0,43.216129,54695.021505,29498.569892
184,2019,Nevada,2972382,1406568.0,92426.0,8393.0,384690.0,43.958824,60119.647059,30188.705882
185,2019,New Hampshire,1348124,729701.0,27430.0,1950.0,98682.0,44.540000,69308.200000,36819.600000
186,2019,New Jersey,8878503,4422491.0,258093.0,9265.0,869081.0,41.233333,82887.142857,42013.761905
187,2019,New Mexico,2092454,888646.0,63458.0,9895.0,392065.0,41.739394,43722.969697,24620.212121
188,2019,New York,19572319,9498320.0,547509.0,23390.0,2681277.0,41.632258,62484.612903,32578.419355
189,2019,North Carolina,10264876,4764135.0,281344.0,94310.0,1467591.0,42.721000,48419.490000,26640.940000
190,2019,North Dakota,756717,402322.0,11406.0,6563.0,78198.0,42.847170,62475.396226,34891.849057
191,2019,Ohio,11655397,5595444.0,314483.0,8544.0,1588343.0,41.030682,55800.238636,28652.204545
192,2019,Oklahoma,3932870,1772123.0,94834.0,18971.0,598373.0,39.405195,48710.727273,25253.376623
193,2019,Oregon,4129803,1979043.0,114559.0,3090.0,533527.0,43.944444,53953.111111,28958.138889
194,2019,Pennsylvania,12791530,6199456.0,347378.0,6555.0,1539183.0,43.344776,57056.089552,30052.686567
195,2019,Puerto Rico,3318447,1028513.0,196934.0,1845.0,1449091.0,41.656410,19300.025641,11067.884615
196,2019,Rhode Island,1057231,533878.0,30455.0,3593.0,125826.0,43.080000,76114.400000,41684.000000
197,2019,South Carolina,5020806,2275531.0,139526.0,32797.0,741650.0,41.432609,45608.326087,25193.478261
198,2019,South Dakota,870638,443891.0,15736.0,2663.0,110553.0,40.427273,54278.545455,28913.606061
199,2019,Tennessee,6709356,3109872.0,172799.0,18830.0,996930.0,42.124211,47167.000000,25324.894737
200,2019,Texas,28260856,13253631.0,708827.0,93394.0,4072194.0,39.235433,52847.590551,26280.503937
201,2019,Utah,3096848,1497354.0,55539.0,4322.0,298537.0,34.575862,63059.586207,26673.827586
202,2019,Vermont,624313,329028.0,12323.0,581.0,65652.0,44.992857,59759.785714,33184.500000
203,2019,Virginia,8454463,4156018.0,200850.0,120385.0,865691.0,42.136090,60756.736842,31250.180451
204,2019,Washington,7404107,3594279.0,187330.0,52871.0,785244.0,42.146154,59393.461538,30986.256410
205,2019,West Virginia,1817305,740910.0,51910.0,1306.0,310044.0,44.365455,44892.236364,24691.836364
206,2019,Wisconsin,5790716,2982359.0,111564.0,3190.0,639160.0,43.656944,58305.861111,31034.361111
207,2019,Wyoming,581024,288503.0,13544.0,2957.0,62257.0,40.443478,61828.652174,32161.782609

In [20]:
# Add a new column that calculates the Poverty Rate
slice_filtered_df["Poverty Rate (%)"] = filtered_df["Total Population in Poverty"]/\
                                    filtered_df["Total Population"] *100
slice_filtered_df.head()

/var/folders/0v/k5cxfnrj4_x27cyj9ynqp8qh0000gn/T/ipykernel_3636/3804361804.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  slice_filtered_df["Poverty Rate (%)"] = filtered_df["Total Population in Poverty"]/\

,Year,State,Total Population,Total Employed Civilians,Total Unemployed Civilians,Total People in the Military,Total Population in Poverty,Average Median Age by County,Average Household Income by County,Average Per Capita Income by County,Poverty Rate (%)
156,2019,Alabama,4876250,2097384.0,132095.0,13306.0,795989.0,40.801493,43574.850746,24049.149254,16.323794
157,2019,Alaska,737068,347774.0,26808.0,17756.0,76933.0,37.279310,67789.344828,33072.896552,10.437707
158,2019,Arizona,7050299,3130658.0,195905.0,19592.0,1043764.0,40.626667,48989.933333,24500.266667,14.804535
159,2019,Arkansas,2999370,1303490.0,70481.0,4751.0,496260.0,41.610667,42236.706667,23285.040000,16.545475
160,2019,California,39283497,18591241.0,1199233.0,131073.0,5149742.0,39.889655,67713.603448,33798.620690,13.109174

In [9]:
# Sort the data by Poverty Rate and Average Per Capita Income by County, Highest to Lowest


# Reset Index

,Year,State,Average Median Age by County,Average Household Income by County,Average Per Capita Income by County,Total Population,Total Employed Civilians,Total Unemployed Civilians,Total People in the Military,Total Population in Poverty,Poverty Rate (%)
0,2019,Puerto Rico,41.656410,19300.025641,11067.884615,3318447,1028513.0,196934.0,1845.0,1449091.0,43.667746
1,2019,Mississippi,38.748780,39613.073171,21758.451220,2984418,1235224.0,99733.0,11721.0,585786.0,19.628149
2,2019,New Mexico,41.739394,43722.969697,24620.212121,2092454,888646.0,63458.0,9895.0,392065.0,18.737091
3,2019,Louisiana,38.053125,44874.015625,24386.296875,4664362,2033758.0,141020.0,17212.0,871467.0,18.683520
4,2019,West Virginia,44.365455,44892.236364,24691.836364,1817305,740910.0,51910.0,1306.0,310044.0,17.060647

In [10]:
# Print out the data for the state or territory with the highest poverty rate

Year                                           2019
State                                   Puerto Rico
Average Median Age by County               41.65641
Average Household Income by County     19300.025641
Average Per Capita Income by County    11067.884615
Total Population                            3318447
Total Employed Civilians                  1028513.0
Total Unemployed Civilians                 196934.0
Total People in the Military                 1845.0
Total Population in Poverty               1449091.0
Poverty Rate (%)                          43.667746
Name: 0, dtype: object

In [11]:
# Print out the data for the state or territory with the lowest poverty rate with one line of code

Year                                            2019
State                                  New Hampshire
Average Median Age by County                   44.54
Average Household Income by County           69308.2
Average Per Capita Income by County          36819.6
Total Population                             1348124
Total Employed Civilians                    729701.0
Total Unemployed Civilians                   27430.0
Total People in the Military                  1950.0
Total Population in Poverty                  98682.0
Poverty Rate (%)                             7.31995
Name: 51, dtype: object